<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.apple.iCal</string>
	<key>CFBundleIdentifier</key>
	<string>com.erikphansen.LaunchBar.action.EpochFromDate</string>
	<key>CFBundleName</key>
	<string>Epoch From Date (JS)</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>LBArgument</key>
	<string>date string</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>date string</string>
		<key>LBAuthor</key>
		<string>Erik P. Hansen</string>
		<key>LBEmail</key>
		<string>eph@erikphansen.com</string>
		<key>LBResult</key>
		<string>epoch timestamp</string>
		<key>LBSummary</key>
		<string>Returns an epoch timestamp, ms since Jan 1 1970, from a given date</string>
		<key>LBTwitter</key>
		<string>eirkeirkeirk</string>
		<key>LBWebsiteURL</key>
		<string>blog.erikphansen.com</string>
	</dict>
	<key>LBResult</key>
	<string>epoch timestamp</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>2001-01-31 or Jan 31 2001 12:00</string>
</dict>
</plist>
